#login-container {
    background: linear-gradient(135deg, #444857, #6c757d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #3b4a5e; /* Dark blue */
    border-radius: 1rem;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #f8f9fa; /* Light white */
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light:hover {
    background-color: #f8f9fa;
    color: #3b4a5e;
}
