#side-panel {
    transition: left 0.3s;
    left: 0; 
    width: 25%; 
    z-index: 1050;
    background-color: #4e5154;
}

#chat-area-container {
    transition: margin-left 0.25s;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #4e5154;
    /* margin-left: 25%; */
}

.height-grow {
    height: 100vh;
}

.overview-container {
    overflow-x: hidden;
}