<div class="container-fluid overview-container p-0 m-0">
    <div class="row no-gutters">
        <!-- Collapsible Side Panel -->
        <div *ngIf="showSideBar" id="side-panel" class="position-fixed top-0 h-100">
            <div class="bg-dark h-100 p-3">
                <h5 class="text-center text-info">Channels</h5>
                <ul class="list-group">
                    <li class="category-header list-group-item" *ngFor="let category of roomCategories">
                        {{ category.displayName }}
                        <ul class="list-group pt-2">
                            <li class="list-group-item-inner" 
                                *ngFor="let channel of category.channels"
                                (click)="changeChatArea(channel.channelID, channel.channelName)"
                                [ngStyle]="{ 
                                    'color': channel.channelID === selectedChannelID ? '#ffc107' : 'inherit', 
                                    'fontWeight': channel.channelID === selectedChannelID ? 'bold' : 'normal' 
                                }">
                                {{ channel.channelName }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Chat Area -->
        <div id="chat-area-container" class="col-md-12 height-grow"
            [ngStyle]="{ 'margin-left': showSideBar ? '25%' : '0' }">
            <section id="chat-area" class="p-3">
                <button class="btn btn-dark m-2" type="button" (click)="toggleSidebar()">Channels</button>
                <ng-container *ngIf="selectedChannelID">
                    <app-chat-area 
                        [channelName]="selectedChannelName" 
                        [channelID]="selectedChannelID" 
                        *ngIf="refreshChatArea">
                    </app-chat-area>
                </ng-container>
            </section>
        </div>
    </div>
</div>
