a {
    color: black;
    text-decoration: none;
}

.project-card {
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 4px 4px 10px rgb(198, 198, 198);
}

.title {
    font-size: 24px;
    font-family: 'Inter-SemiBold';
    color: var(--secondary-bg-color);
}
