<div class="container-fluid pt-5">
    <div class="content">
        <div class="row pb-4">
            <div class="col-12">
                <div class="d-block h1 text-center">{{cmsContent?.title}}</div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12 d-flex justify-content-center">
                <button (click)="enterChat()" type="button" class="btn btn-lg btn-dark mx-3">{{cmsContent?.chatButton}}</button>
                <button (click)="enterFiles()" type="button" class="btn btn-lg btn-dark mx-3">{{cmsContent?.filesButton}}</button>
            </div>
        </div>
    </div>
</div>