.chat-area-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;   
}


#messages {
    height: 80%;
    overflow-y: scroll;
}

#chat-input {
    padding: 10px;
    border-top: 2px dashed #3c4044;
}
