<div class="container-fluid chat-area-container">
    <!-- Messages Section -->
    <section id="messages" #messagesContainer class="messages-container">
        <div *ngFor="let message of channelMessages">
            <app-message [message]="message"></app-message>
        </div>
    </section>

    <!-- Chat Input Section -->
    <section id="chat-input">
        <app-chat-input 
            [channelID]="channelID" 
            (messageSent)="handleMessage($event)">
        </app-chat-input>
    </section>
</div>
